[Unit]
Description=Webapp Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/manage.py runserver -h 0.0.0.0 -p 22928

[Install]
WantedBy=multi-user.target
